@(projects: List[Project], tasks: List[Task], user: User)

@main("Project page") {
<div id="h2">
    <a href="#" id="Dashboard" style="text-decoration: none;color: white;line-height:50px;">Dashboard</a><br>
    <a href="#" id="Projects" style="text-decoration: none;color: white;line-height:50px;">Projects</a><br>
    <a href="#" id="Invoices" style="text-decoration: none;color: white;line-height:50px;">Invoices</a><br>
    <a href="#" id="Reporting" style="text-decoration: none;color: white;line-height:50px;">Reporting</a><br>
    <a href="#" id="Clients" style="text-decoration: none;color: white;line-height:50px;">Clients</a><br>
    <a href="#" id="Files" style="text-decoration: none;color: white;line-height:50px;">Files</a><br>
    <a href="#" id="Tasks" style="text-decoration: none;color: white;line-height:50px;">Tasks</a><br>
    <a href="#" id="Users" style="text-decoration: none;color: white;line-height:50px;">Users</a><br>
    <a href="#" id="Templates" style="text-decoration: none;color: white;line-height:50px;">Project Templates</a><br>
    <a href="#" id="Admin" style="text-decoration: none;color: white;line-height:50px;">Admin</a><br>
</div>`
}