body {
    background-image: url('images/winter_christmas_1366x768_45869.jpg');
    color: white;
    margin: auto;
    font-size: 12px;
    font-family: tahoma;
    filter: Alpha(opacity=50);
}

#h1 {
    width: 100%;
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
    padding: 10px 10px 10px 10px;
    box-shadow: 2px 2px 1px #000;
}

#h2 {
width: 9%;
height: 700px;
background-color:rgba(0,0,0,0.6);
border-radius: 5px;
opacity: 1;
margin: 2px 2px 2px 2px;
padding: 5px 5px 5px 5px;
float: left;
text-align: center;
box-shadow: 2px 2px 1px #000;
}

#h3{
    width: 20%;
    height: 700px;
    background-color:rgba(0,0,0,0.6);
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
    float: left;
    font-size: 10px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    box-shadow: 2px 2px 1px #000;
}

#h4{
    height: 700px;
    background-color:rgba(0,0,0,0.6);
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
    padding: 15px 15px 15px 15px;
    float: left;
    box-shadow: 2px 2px 1px #000;
}