@(loginUser: User, user: User)

@tpldefault_ajax("Ajax"){
<div id="h4_ajax">
  <img src='@routes.Assets.at(user.avatar)'
       style="width: 250px; height: 250px; display: inline-block; float: left;"/>

  <div style="float: left; margin-left: 20px;">
    <p>
      <span>Email:</span> <input value="@user.email"/>
    </p>

    <p>
      <span>Name:</span> <input value="@user.name"/>

    <p>
      <span>Pass:</span> <input value="@user.password"/>
    </p>

    <form action="@routes.Users.delete(user.email)" method="post">
      <button type="submit" style="width: 100px;">Delete</button>
    </form>
  </div>
  </p>
</div>
}